.card-membresia {
  background-color: #1f2937;
  border: 1px solid #374151;
  border-radius: 12px;
  padding: 1.5rem;
  width: 18rem;
  text-align: center;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.titulo {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #fff;
}
.descripcion {
  color: #d1d5db;
  margin-bottom: 0.5rem;
}
.precio {
  color: #ef4444;
  font-weight: bold;
  margin-bottom: 1rem;
}
button {
  background-color: #ef4444;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  transition: background 0.3s ease;
}
button:hover {
  background-color: #dc2626;
}
.btn-adquirir {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ef4444;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-adquirir:hover {
  background-color: #dc2626;
}

