<div class="min-h-screen bg-gray-900 py-10 px-6 animate-gradient-dark-flow">
  <h2 class="text-3xl font-bold text-center text-rose-500 mb-10 neon-text">
    Elige tu Membresía
  </h2>

  <div class="flex flex-wrap justify-center gap-8">
    <div
      *ngFor="let tipo of tipos"
      class="bg-gray-800/90 border border-gray-700 rounded-xl shadow-lg p-6 w-80 hover:border-rose-500 transition-all duration-300 hover:-translate-y-2"
    >
      <h3 class="text-xl font-semibold mb-2 text-center text-white">
        {{ tipo.NombreTipo }}
      </h3>

      <p class="text-gray-300 text-sm mb-4 text-center">
        {{ tipo.Descripcion || 'Beneficios incluidos.' }}
      </p>

      <p class="text-sm text-center text-gray-400 mb-2">
        Duración: {{ tipo.DuracionDias }} días
      </p>

      <p class="text-gray-300 text-sm mb-4 text-center italic">
        {{ tipo.Beneficios }}
      </p>

      <p
        class="text-lg font-bold text-center mb-4"
        [ngClass]="{
          'text-green-400': promocionActiva(tipo.promocion),
          'text-rose-500': !promocionActiva(tipo.promocion)
        }"
      >
        {{ precioFinal(tipo) }}
      </p>

      <button
        class="w-full bg-rose-600 hover:bg-rose-700 text-white py-2 rounded-full transition-all transform hover:scale-105"
        (click)="seleccionarMembresia(tipo.ID)">
        Adquirir
      </button>
    </div>
  </div>
</div>
