<h1 class="text-2xl font-bold text-rose-500 mb-4">➕ Nueva Reserva</h1>

<div class="bg-gray-800 p-6 rounded-lg shadow-lg space-y-4 max-w-md text-white mx-auto">
  <div>
    <label for="clase" class="block mb-1 text-sm">Clase</label>
    <select [(ngModel)]="idClase" id="clase"
            class="w-full p-3 rounded bg-gray-700 border border-gray-600 text-white">
      <option *ngFor="let clase of clases" 
              [value]="clase.IDClase"
              [disabled]="!puedeReservar(clase)">
        {{ clase.Nombre }} 
        ({{ clase.Estado }}) 
        - 
        <span *ngIf="clase.yaReservada">🔁 Ya reservada</span>
        <span *ngIf="clase.llena && !clase.yaReservada">🔴 Llena</span>
        <span *ngIf="!clase.llena && !clase.yaReservada">🟢 Disponible</span>
      </option>
    </select>
  </div>

  <button (click)="reservar()"
          class="w-full bg-rose-600 hover:bg-rose-700 transition rounded py-3 font-semibold">
    Confirmar Reserva
  </button>
 <div *ngIf="mensajeError" class="text-red-400 text-sm mt-2 text-center">
  {{ mensajeError }}
</div>


</div>
