<div class="flex h-screen">

  <!-- Sidebar -->
  <aside class="w-64 bg-gray-900 text-white p-6 space-y-8">
    <h2 class="text-2xl font-bold mb-4">Panel Admin</h2>

    <nav class="space-y-4">
      <!-- Bitácora -->
      <a routerLink="/dashboard-admin/bitacora" routerLinkActive="bg-gray-700"
        class="flex items-center gap-2 px-4 py-2 rounded hover:bg-gray-700 transition">
        📋 <span>Bitácora</span>
      </a>

      <!-- Eliminar Cliente -->
      <a routerLink="/dashboard-admin/eliminar-cliente" routerLinkActive="bg-gray-700"
        class="flex items-center gap-2 px-4 py-2 rounded hover:bg-gray-700 transition">
        ❌ <span>deshabilitar Cliente</span>
      </a>

      <!-- Listado de Clientes (Activo) -->
      <a routerLink="/dashboard-admin/clientes" routerLinkActive="bg-gray-700"
        class="flex items-center gap-2 px-4 py-2 rounded hover:bg-gray-700 transition">
        📄 <span>Listado de Clientes</span>
      </a>
    </nav>

    <button (click)="logout()"
      class="w-full mt-10 bg-red-500 hover:bg-red-600 text-white font-semibold py-2 rounded transition">
      Cerrar Sesión
    </button>
  </aside>

  <!-- Contenido dinámico -->
  <main class="flex-1 p-10 overflow-y-auto bg-gray-100">
    <router-outlet></router-outlet>
  </main>

</div>
